In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print(5+7)    #operation
# + operator
# 5, 7 oprand
#PEMDAS
print(8 * 7 + 3 /2 -4)

12
53.5

In [3]:
a = 7
b = 7
print(a)
print(b)

7
7

In [4]:
print(id(a))
print(id(b))

140730859430480
140730859430480

In [5]:
a=7
type(a)

int

In [6]:
b=20.7
type(b)

float

In [7]:
c= True
type(c)

bool

In [8]:
d= False
type(d)

bool

In [9]:
e= "2.0"
type(e)

str

In [11]:
a = """Pakistan 007""" #multiline string
type(a)

str

In [13]:
#index    0      1      2    3     4
name = ["Ali", "Hamza", 20, True, False]  #left to right in positive integer 
#index  -5      -4      -3  -2    -1      #right to left in negative integer 
type(name)

list

In [19]:
#index    0      1      2    3     4
name = ("Ali", "Hamza", 20, True, False)  #left to right in positive integer 
#index  -5      -4      -3  -2    -1      #right to left in negative integer 
#only tupe of parantheses are changed = tuple
print(name)
print(name[-4]) #outputs the index of name at position -4
print(name[1])  #outputs the index of name at position 1
type(name)

('Ali', 'Hamza', 20, True, False)
Hamza
Hamza

tuple

In [21]:
name = {"Hamza", "Junaid","Kashif", "Hamza"}  #repeated value is not printed
#index is not supported in set
print(name)
type(name)

{'Hamza', 'Junaid', 'Kashif'}

set

In [ ]:
#convert set to list or tuple to find the index
#typecast=change one datatype to another

In [22]:
name = {"Hamza", "Junaid","Kashif", "Hamza"}  #repeated value is not printed
#index is not supported in set
print(name)
print(type(name))
name = list(name)
print(name[1])
type(name)

{'Hamza', 'Junaid', 'Kashif'}
<class 'set'>
Junaid

list

In [23]:
#if sequence of information in a profile is not followed
#dictionary datatype is used, label/key is used insted of index
#pass two things:key and value
#separator in key and value is colon ;
#Separator for keys used is comma ','
#mutable and immutable
#key is string
#key is hashable
#indexing is not supported in dictionary, instead key is used
#slicing is performed on list and tuple

In [27]:
data = {"name":"Sobia Pervaiz",           
       "father_name":"Pervaiz Ahmad Malik",
       True:"Pakistan"}           #curly bracket with key
data["father_name"]

'Pervaiz Ahmad Malik'

In [29]:
data = {"name":"Sobia Pervaiz",
        "name":"ABC",     #Prints last input value
       "father_name":"Pervaiz Ahmad Malik",
       True:"Pakistan"}           #curly bracket with key
data["name"]

'ABC'

In [25]:
type(data)

dict

In [28]:
list(data)

['name', 'father_name', True]

In [30]:
name = "Sobia Pervaiz"
print(name)

Sobia Pervaiz

# Basic Operation with String Datatypes

In [31]:
name1="SOBia PerVaiz"
name2="soBIA perVAIZ"
print(name1==name2)  #==matches two values  ###shift+tab gives you description
print(name1)

False
SOBia PerVaiz

In [ ]:
#in-memory operation:update real data in physical memory
#whenever called next time, shows new changed value
#in-line:update timley change
#whenever called next time, shows original data

In [32]:
name1="SOBia PerVaiz"
name2="soBIA perVAIZ"
print(name1==name2)  #==matches two values  ###shift+tab gives you description
print(id(name1),id(name2),sep="\n")
print(name1)

False
801218451504
801218451248
SOBia PerVaiz

In [34]:
#name1.        #name1. press tab shows attributes of a class
dir(name1)      #check without underscore directory is displayed

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
name1="Sobia Pervaiz"
print(name1.upper())   #in-line change
print(name1)

SOBIA PERVAIZ
Sobia Pervaiz

In [36]:
name1="Sobia Pervaiz"
print(name1.lower())   #in-line change
print(name1)

sobia pervaiz
Sobia Pervaiz

In [37]:
name1="Sobia Pervaiz"
name1=name1.lower()   #in-line change
print(name1)

sobia pervaiz

In [38]:
name1="Sobia Pervaiz"
name1=name1.title()   #in-line change
print(name1)

Sobia Pervaiz

In [39]:
#deletes any variable
del name1
print(name1)  #will show error, removed from memory

NameError: name 'name1' is not defined

In [40]:
name1= "    Sobia      Pervaiz     "
print(len(name1))   #length of string, spaces included
print(name1.title())

27
    Sobia      Pervaiz

In [41]:
#for cleaning od data, we have some pre-defined functions
#if needed costumized, we use regular expressions
name1= "    Sobia      Pervaiz     "
print(len(name1))   #length of string, spaces included
print(name1.lstrip())
print(len(name1.lstrip()))   #left strip spaces are removed

27
Sobia      Pervaiz
23

In [42]:
name1= "    Sobia      Pervaiz     "
print(len(name1))   #length of string, spaces included
print(name1.rstrip())
print(len(name1.rstrip()))   #right strip spaces are removed

27
    Sobia      Pervaiz
22

In [43]:
name1= "    Sobia      Pervaiz     "
print(len(name1))   #length of string, spaces included
print(name1.strip())
print(len(name1.strip()))   # strip spaces are removed

27
Sobia      Pervaiz
18

In [44]:
a = "We are Pakistani we love our country!"
#a.find finds the index of a value
a.find("Pakistan")   #index=1 value, slicing=more than 1 value
#case-sensitive
#if Pakistan written twice, will show first position

7

In [45]:
a[7:15:1]  #colon is separator #a[start:end:step]

'Pakistan'

In [46]:
#dynamic application
a = "We are Pakistani we love our country!"
#a.find finds the index of a value
a.find("we",5)  # show we at second place

17

In [48]:
a = "We are Pakistani we love our country!"
#a.find finds the index of a value
a[a.find("Pakistan"):15]

'Pakistan'

In [49]:
a = "We are Pakistani we love our country!"
#a.find finds the index of a value
a.find("pakistan")

-1

In [51]:
a = "We are Pakistani we love our country!"
b = a.split()
b  #converts string into list

['We', 'are', 'Pakistani', 'we', 'love', 'our', 'country!']

In [52]:
b.count("we")  #case sensitive thats why shows 1

1

In [58]:
a = "We are Pakistani we love our country!"
b = a.split()
b #converts string into list

['We', 'are', 'Pakistani', 'we', 'love', 'our', 'country!']

In [61]:
card = """
name : Sobia Pervaiz
father_name: Pervaiz Ahmad MAlik
"""
print(card)

name : Sobia Pervaiz
father_name: Pervaiz Ahmad MAlik

In [67]:
#concetenation
name = "Hamza"
fname = "Rashid"
program ='PIAIC'

#%s=string
#\n= next line
#\next line
print("Student Name: %s  \n Father's name: %s  \n Program: %s"%(name,fname,program))

Student Name: Hamza
 Father's name: Rashid
 Program: PIAIC

In [69]:
name = "Hamza"
fname = "Rashid"
program ='PIAIC'

#+ print is not used
"Student Name:  " + name + "\n FName:  " + fname + \
      "\n Program:" + program

'Student Name:  Hamza\n FName:  Rashid\n Program:PIAIC'

In [73]:
name = "Hamza"
fname = "Rashid"
program ='PIAIC'

#f operator
f"Student Name {name} \n FatherName: {fname} \n Program: {program}"

'Student Name Hamza \n FatherName: Rashid \n Program: PIAIC'

In [74]:
name = "Hamza"
fname = "Rashid"
program ='PIAIC'

#f operator
print(f"Student Name {name} \n\
FatherName: {fname} \n \
Program: {program}")

Student Name Hamza
FatherName: Rashid
 Program: PIAIC

In [77]:
#"1" + 1 #error string + integer
"1" + "1"  #concetenation

'11'

In [80]:
a = 200
"Pakistan score:" + str(a)

'Pakistan score:200'

In [81]:
a = 200
"Pakistan score:" + str(a)
print(type(a))

<class 'int'>

In [82]:
"NAME: {}, \n Father's Name: {}".format(name, fname)

"NAME: Hamza, \n Father's Name: Rashid"

In [83]:
"NAME: {1}, \n Father's Name: {0}".format(name, fname)

"NAME: Rashid, \n Father's Name: Hamza"

In [84]:
"NAME: {sn}, \n Father's Name: {fn}".format(sn=name, fn=fname)  #sn=student name, fn=father name

"NAME: Hamza, \n Father's Name: Rashid"

In [86]:
name = "Hamza"
fname = "Rashid"
program ='PIAIC'
score = 200
#%s=string
#\n= next line
#\next line
#%d= decimal
print("Student Name: %s  \n Father's name: %s  \n Program: %s /n score: %d"%(name,fname,program, score))

Student Name: Hamza
 Father's name: Rashid
 Program: PIAIC /n score: 200

In [87]:
a = input()
a  #asks for input

5

'5'